In [13]:
import requests
import pandas as pd
import sys
import collections

In [14]:
url = 'https://servicebus2.caixa.gov.br/portaldeloterias/api/resultados?modalidade=Lotofácil'

In [15]:
r = requests.get(url, verify=False)

c:\Users\wesle\Desktop\Courses\Bootcamp How Engenharia Dados\data_engineering_how\.venv\lib\site-packages\urllib3\connectionpool.py:1095: InsecureRequestWarning: Unverified HTTPS request is being made to host 'servicebus2.caixa.gov.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

In [25]:
r.text
r_text = r.text
#cleaning our dataframe
r_text = r.text.replace('\\r\\n', '').replace('"\r\n}', '').replace('{\r\n "html": "', '')

In [26]:
df = pd.read_html(r_text, flavor='html5lib')

In [27]:
# returning our dataframe type
type(df)
type(df[0])

pandas.core.frame.DataFrame

In [28]:
df=df[0].copy()

In [29]:
df

,Concurso,Data_Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Bola7,Bola8,...,Ganhadores_12_Números,Ganhadores_11_Números,Valor_Rateio_15_Números,Valor_Rateio_14_Números,Valor_Rateio_13_Números,Valor_Rateio_12_Números,Valor_Rateio_11_Números,Acumulado_15_Números,Estimativa_Prêmio,Valor_Acumulado_Especial
0,1,29/09/2003,2.0,3.0,5.0,6.0,9.0,10.0,11.0,13.0,...,48807.0,257593.0,"R$49.765,82","R$689,84","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00"
1,NaN,BA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,PR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,06/10/2003,1.0,4.0,5.0,6.0,7.0,9.0,11.0,12.0,...,81252.0,478188.0,"R$596.323,70","R$1.388,95","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11276,BALNEARIO PICARRAS,SC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11277,2802,03/05/2023,1.0,2.0,3.0,4.0,6.0,8.0,9.0,12.0,...,114063.0,566945.0,"R$542.096,91","R$1.746,01","R$30,00","R$12,00","R$6,00","R$0,00","R$1.500.000,00","R$75.331.818,62"
11278,IMPERATRIZ,MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11279,CURITIBA,PR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11280,SAO PAULO,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df = df[df['Bola1'] == df['Bola1']]
df

,Concurso,Data_Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Bola7,Bola8,...,Ganhadores_12_Números,Ganhadores_11_Números,Valor_Rateio_15_Números,Valor_Rateio_14_Números,Valor_Rateio_13_Números,Valor_Rateio_12_Números,Valor_Rateio_11_Números,Acumulado_15_Números,Estimativa_Prêmio,Valor_Acumulado_Especial
0,1,29/09/2003,2.0,3.0,5.0,6.0,9.0,10.0,11.0,13.0,...,48807.0,257593.0,"R$49.765,82","R$689,84","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00"
4,2,06/10/2003,1.0,4.0,5.0,6.0,7.0,9.0,11.0,12.0,...,81252.0,478188.0,"R$596.323,70","R$1.388,95","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00"
6,3,13/10/2003,1.0,4.0,6.0,7.0,8.0,9.0,10.0,11.0,...,96244.0,608211.0,"R$400.623,70","R$2.173,36","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00"
8,4,20/10/2003,1.0,2.0,4.0,5.0,8.0,10.0,12.0,13.0,...,123912.0,706657.0,"R$902.226,02","R$1.498,72","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00"
10,5,27/10/2003,1.0,2.0,4.0,8.0,9.0,11.0,12.0,13.0,...,195636.0,860992.0,"R$380.017,55","R$687,49","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11258,2798,27/04/2023,1.0,2.0,3.0,5.0,7.0,8.0,12.0,14.0,...,121268.0,594091.0,"R$187.345,54","R$669,39","R$25,00","R$10,00","R$5,00","R$0,00","R$1.500.000,00","R$73.569.483,78"
11264,2799,28/04/2023,1.0,3.0,6.0,9.0,10.0,11.0,13.0,14.0,...,145269.0,658276.0,"R$446.839,43","R$1.444,38","R$25,00","R$10,00","R$5,00","R$2.036.154,92","R$5.000.000,00","R$73.893.802,74"
11268,2800,29/04/2023,2.0,3.0,5.0,6.0,7.0,9.0,13.0,14.0,...,195878.0,1058924.0,"R$1.261.103,68","R$1.288,93","R$25,00","R$10,00","R$5,00","R$0,00","R$1.500.000,00","R$74.520.523,54"
11273,2801,02/05/2023,1.0,2.0,3.0,7.0,9.0,12.0,15.0,16.0,...,108798.0,595062.0,"R$575.687,41","R$1.684,31","R$30,00","R$12,00","R$6,00","R$0,00","R$1.500.000,00","R$74.938.361,18"
11277,2802,03/05/2023,1.0,2.0,3.0,4.0,6.0,8.0,9.0,12.0,...,114063.0,566945.0,"R$542.096,91","R$1.746,01","R$30,00","R$12,00","R$6,00","R$0,00","R$1.500.000,00","R$75.331.818,62"

In [35]:
#list of all possible numbers-
nr_possiveis = list(range(1, 26))

# verifying and filtering all possible numbers
def nr_par(number):
    if (number % 2) == 0:
        return True
    else:
        return False

def nr_impar(number):
    if (number % 2) != 0:
        return True
    else:
        return False

def nr_primo(number):
    for i in range(2, number):
        if (number % i) == 0:
            return False
        else:
            pass
    return True

In [36]:
#filtering numbers
even_numbers = list(filter(nr_par, nr_possiveis))
odd_numbers = list(filter(nr_impar, nr_possiveis))
prime_numbers = list(filter(nr_primo, nr_possiveis))

In [37]:
# filtering all of our columns

lst_campos = ['Bola1', 'Bola2', 'Bola3', 'Bola4', 'Bola5',
               'Bola6', 'Bola7', 'Bola8', 'Bola9', 'Bola10',
                'Bola11', 'Bola12', 'Bola13', 'Bola14', 'Bola15']

In [39]:
# converting our values from columns to int
df[lst_campos] = df[lst_campos].astype(int)

C:\Users\wesle\AppData\Local\Temp\ipykernel_7196\3747191295.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[lst_campos] = df[lst_campos].astype(int)

In [44]:
# iterate over every column to sum the frequency of unique values, odds, evens and primes.
comb = []
value_count = dict.fromkeys(nr_possiveis, 0)
for column in lst_campos:
    # For odds, evens and primes we apply filter functions and sum the total amount for each column
    # Then we create a string containing the combination of the sums as a unique string and append it to a list
    comb.append(str(df[column].apply(nr_par).sum()) + 'even-' + str(df[column].apply(nr_impar).sum()) 
                + 'odds-'+str(df[column].apply(nr_primo).sum())+'primes')
    # For number counting we apply a value counts to count for each unique value found.
    # Then an iteraction is made to sum every column unique value frequency into a dictionary of possible numbers.
    for key, value in df[column].value_counts().items():
        value_count[key] += value

In [46]:
# Now we can count every equal combination using Counter. 
# Then we can create a dataframe from it and calculate the probability of each combination to happen.

counter = collections.Counter(comb)
result = pd.DataFrame(counter.items(), columns=['Combinacao', 'Frequencia'])
result['p_freq'] = result['Frequencia']/result['Frequencia'].sum()
result = result.sort_values(by='p_freq')

In [47]:
# sorting the most frequent values
sorted_value_count = sorted(value_count.items(), key=lambda x:x[1])

In [49]:
most_frequent_value = sorted_value_count[-1]
least_frequent_value = sorted_value_count[0]

In [53]:
print(f'''
The most frequent value is: {most_frequent_value[0]}
The least frequent value is: {least_frequent_value[0]}
The most frequent combination of odds, evens and primes is: {result['Combinacao'].values[-1]} or
{int((result['p_freq'].values[-1]*100)*100)/100}%
''')

The most frequent value is: 20
The least frequent value is: 16
The most frequent combination of odds, evens and primes is: 770even-2032odds-272primes or
6.66%